<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/principal.css' %}" rel="stylesheet">
    <title>Bienvenido a Barlib</title>
</head>
<body>
    <h1>Bienvenido a Bar la libertad</h1>
    <h2>Principal</h2>
    <h3>Bienvenido, {{ user.username }}!</h3>
    <button>Cerrar sesion</button>
</body>
</html>
