/* styles.css */

body {
    background-color: #f4f4f9;
}

.menu-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.category-filters {
    display: flex;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #ff9800;
    color: #fff;
}

/* Estilos para la barra lateral */
.sidebar {
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.container-fluid {
    margin-left: 250px; /* Margen a la izquierda para evitar que el contenido principal esté debajo de la barra lateral */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stock-info {
    color: #ff9800;
    font-weight: bold;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #424242;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

.search {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}
.search {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 18px;
}

/* Para el estado hover */
.sidebar .nav-link:hover {
    color: orange;
}

/* Para el estado activo */
.sidebar .nav-link.active {
    background-color: rgba(255, 152, 0, 0.2); 
    color: darkorange;
}

h1 {
    color: #333;
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilos para la barra superior */
.barra-superior {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    border-radius: 10px;
}

.usuario-nombre {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

img.rounded-circle {
    border: 2px solid #EB7809;
}


/* Estilo para la imagen del logo */
.logo-bar {
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .logo-bar {
        width: 100px;
    }
}

.logo-bar {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.order-list {
    width: 70%;
}

.order-status {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.order-status button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #f4f4f9;
    color: #888;
    cursor: pointer;
}

.order-status .active {
    background-color: #fff2e0;
    color: #ffa500;
}

.order-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: border 0.3s;
}

.order-card:hover {
    border-color: #ffa500;
}

.order-info p {
    margin-bottom: 5px;
    color: #555;
}

.order-meta {
    text-align: right;
}

.price {
    font-weight: bold;
    color: #333;
}

.dine-in {
    background-color: #e6f7e6;
    color: #28a745;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.order-container {
    display: flex;
    gap: 20px; /* Espacio entre order-list y order-details */
    padding: 20px;
}

.order-details {
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.order-details h4,
.order-details p {
    color: #333;
    margin-bottom: 10px;
}

.order-items {
    margin-top: 20px;
}

.item {
    margin-bottom: 15px;
}

.item p {
    color: #777;
    margin-bottom: 5px;
}

.item span {
    font-weight: bold;
    color: #333;
}

.summary p {
    display: flex;
    justify-content: space-between;
    color: #333;
    margin-bottom: 5px;
}

.total {
    font-weight: bold;
    font-size: 18px;
}

.payment-methods {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.payment-methods button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pay-button {
    width: 100%;
    padding: 15px;
    background-color: #ffa500;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
