/* static/menu/styles.css */

body {
    background-color: #f4f4f9; /* Un color de fondo claro */
}

/* Estilos para la barra lateral */
.sidebar {
    background-color: #f7f7fa;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
}

.sidebar .nav-link {
    font-size: 16px;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background 0.3s ease;
}


.icon-active {
    color: #EB7809;
}

.sidebar .nav-link:hover {
    background-color: #e2e4e8;
    color: #000;
}

.sidebar .nav-link.active {
    background-color: #EB7809;
    color: white;
}





h1 {
    color: #333;
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilos para la barra superior */
.barra-superior {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    border-radius: 10px;
}

.usuario-nombre {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

img.rounded-circle {
    border: 2px solid #EB7809;
}


/* Estilo para la imagen del logo */
.logo-bar {
    width: 100px; /* Tamaño predeterminado */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .logo-bar {
        width: 100px; /* Ajusta el tamaño en pantallas más pequeñas */
    }
}

.logo-bar {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el formulario y botones */
.product-form .form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: #EB7809;
    border-color: #EB7809;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #EB7809;
}

.product-form .form-group {
    margin-bottom: 20px;
}

#preview {
    max-width: 100%; /* Asegúrate de que la imagen no se desborde */
    height: auto; /* Mantiene la proporción */
    border: 1px solid #ddd; /* Añade un borde alrededor de la imagen */
    border-radius: 8px; /* Esquinas redondeadas */
}




